@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@using (Html.BeginForm("Login","Home",FormMethod.Post))

{
<center>


    <table class="table table-bordered center-block   table-condensed table-hover " >
        <tr><td class="btn btn-lg  color-quality-right square-btn-adjust text-center text-danger text-capitalize" > ADMIN Login</td></tr>
        <tr><td><input type="email"  name="ADMIN_EMAIL" placeholder="Email"></td></tr>
        <tr><td><input type="password" name="ADMIN_PASSWORD" placeholder="Password"></td></tr>
        <tr><td><input type="submit" value="Login"></td></tr>
        <tr><td style="color:darkblue;font-size:large">  @ViewBag.Message</td></tr>
    </table>

</center>                
     
}